@use '../../styles/vars' as v;

.app {
  width:80%;
  max-width: 1200px;
  margin: 0 auto;
}

@media all and (max-width: 700px) {
  .app {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}