@use '../../styles/vars' as v;

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid v.$blackColor;
    border-radius: 440px;
    background-color: v.$darkgreyColor;
    width: 100%;
    padding-left: v.$gutter;

    &__img {
        height: 30px;
    }

    &__input {
        color: white;
        font-size: 1.1rem;
        margin-left: 1rem;
        font-family: 'Helvetica Neue', sans-serif;
        background-color: v.$darkgreyColor;
        border: none;
        width: calc(100% - 5rem);
        padding: v.$gutter 0;
    
        &:focus-visible {
            outline: none;
        }
        &::placeholder{color: white}
    }
}

@media all and (max-width: 700px) {
    .search-bar {
      width: 90%;
      margin: 0 auto;
    }
  }