@use '../../styles/vars' as v;

.header {
    &__title {
        color: v.$greenColor;
        font-size: 3rem;
        font-weight: 600;
        padding: v.$gutter * 2;
        text-align: center;
    }
}