@use '../../styles/vars' as v;

.header {
    &__title {
        color: v.$greenColor;
        font-size: 3rem;
        font-weight: 600;
        padding: v.$gutter * 2 0;
        text-align: center;
    }
}

@media all and (max-width: 700px) {
    .header__title {
        font-size: 2rem;
    }
}