@use '../../styles/vars' as v;

.tracks-list {
    padding: v.$gutter * 2 v.$gutter * 2 v.$gutter * 7 v.$gutter * 2;

    &__track {
        background-color: v.$lightblackColor;
        display: flex;
        padding: v.$gutter;
        margin: v.$gutter 0;
        cursor: pointer;

        &:hover &__content &__content__name {
            text-decoration: underline;
        }
        
        &__content {
            margin: auto 1rem;

            &__name {
                margin-bottom: 0.5rem;
                color: v.$lightColor;
            }

            &__artists {
                color: grey;
            }
        }
    }
}

@media all and (max-width: 700px) {
    .tracks-list {
        padding: 2rem 0 7rem 0;
        font-size: 14px;
        &__track {
            padding: v.$gutter * 0.5;
            margin: v.$gutter * 0.5 0;
        }
    }
}